*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.weatherBg{
    background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.heading{
  color: white;
  font-weight: 600;  
  margin-top: -50px;
}
.weahterResultBox{
    width: 500px;
    height: 300px;
    margin: auto;
}
.weatherIcon{
    width: 100px;
    height: 100px;
    margin-top: 2rem;
}
.weatherCity{
   font-size: 25px;
   margin-top: 5px;
   color: #F56457;
}
.weatherTemp{
    font-size: 55px;
    font-weight: bold;
}